<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">

    </head>
    <body>
        <canvas id="canvas" width="240" height="477"></canvas>
        <!--npm install three 하면됨-->
        <script type="importmap">
            {
                "imports": {
                    "three": "https://unpkg.com/three@0.141.0/build/three.module.js",
                    "GLTFLoader" : "https://unpkg.com/three@0.141.0/examples/jsm/loaders/GLTFLoader.js",
                    "OrbitControls" : "https://unpkg.com/three@0.141.0/examples/jsm/controls/OrbitControls.js"
                }
            }
        </script>
        <!--npm install three-->
        
        <script type="module" src = "/js/potato.js"></script>

    </body>
</html>